<h1>Dashboard</h1>

<!--HTML from anywhere-->
<div data-controller="hello">
	<input data-hello-target="name" type="text">
	
	<button data-action="click->hello#greet" class="btn btn-primary">
		Greet
	</button>
	
	<span data-hello-target="output">
  </span>
</div>